@import "../../../base/variables";

.logo-link__image {
  display: inline-flex;

  vertical-align: top;
}

.logo-link_main .logo-link__image {
  $clip-path: polygon(92px 0, 193px 0%, 193px 100%, 92px 100%);

  position: absolute;
  left: 50%;

  width: auto;
  height: 100%;

  transform: translateX(-50%);
  pointer-events: none;

  @supports (clip-path: $clip-path) {
    pointer-events: auto;

    clip-path: $clip-path;

    @media #{$from-desktop} {
      clip-path: polygon(71px 0, 258px 0%, 258px 100%, 71px 100%);;
    }
  }
}
