@import "../../base/variables";

.backdrop {
  $z-index: map-get($z-index-layers, backdrop);

  position: absolute;
  z-index: $z-index;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Boolean
@import "backdrop_intro";

// Элементы
@import "__layer-1/backdrop__layer-1";
@import "__layer-2/backdrop__layer-2";
