@import "../../../base/variables";

.fieldset_attractions .fieldset__inner {
  @media #{$from-tablet} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: -20px;
  }

  @media #{$from-tablet} and #{$to-desktop} {
    width: 68%;
    margin-right: auto;
    margin-left: auto;

    transform: translateX(10px);
  }

  @media #{$from-desktop} {
    justify-content: space-between;
  }
}

.fieldset_contact .fieldset__inner {
  @media #{$from-desktop} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
