@import "../../base/variables";

.section {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  padding: 40px 30px 27px;

  @media #{$from-tablet} {
    padding-top: 48px;
    padding-bottom: 49px;
  }
}

// Boolean
@import "section_small";

// Элементы
@import "__text/section__text";
@import "__heading/section__heading";
