@import "../../base/variables";

.section {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  padding: 22px;

  @media #{$from-tablet} {
    padding-top: 48px;
    padding-bottom: 49px;
  }
}

// Boolean
@import "section_index-first";
@import "section_internal-first";
@import "section_media-gallery";
@import "section_video";

// Элементы
@import "__text/section__text";
@import "__heading/section__heading";
