@import "../../../base/variables";

.page_review .page__main {
  margin-bottom: 36px;

  @media #{$from-tablet} {
    margin-bottom: 58px;
  }

  @media #{$from-desktop} {
    margin-bottom: 61px;
  }
}
