@import "../../base/variables";

.hello {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  padding: 40px 30px 27px;

  @media #{$from-tablet} {
    padding-top: 48px;
    padding-bottom: 49px;
  }
}

// Элементы
@import "__description/hello__description";
@import "__heading/hello__heading";
