.hello {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  padding: 49px 30px 50px;
}

// Элементы
@import "__description/hello__description";
@import "__heading/hello__heading";
