.page-header {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  min-height: 56px;
  padding: 0 20px;

  background-color: white;
}

// Элементы
@import "__logo/page-header__logo";
@import "__menu/page-header__menu";
