@import "../../../base/variables";

.backdrop__layer-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.backdrop_intro .backdrop__layer-1 {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 389px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 26px;

    content: "";

    background-image: url("../img/sprite.svg#bg-intro-triangle-mobile");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 94px;

    @media #{$from-tablet} {
      height: 57px;

      background-image: url("../img/sprite.svg#bg-intro-triangle-tablet");
      background-size: 100% 225px;
    }

    @media #{$from-desktop} {
      background-image: url("../img/sprite.svg#bg-intro-triangle-desktop");
      background-size: 100% 351px;
    }
  }

  @media #{$from-tablet} {
    height: 518px;
  }

  @media #{$retina} {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
