@import "../../../base/variables";

.input_type_textarea {
  $transition: $base-transition;
  $color: (default: inherit, invalid: red);
  $background-color: (default: $concrete, hover: $mercury, active: transparent);

  font: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.45;

  box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  padding: 16px 22px;

  resize: none;
  transition: background-color $transition;

  border: none;
  background-color: map-get($background-color, default);

  &:hover {
    background-color: map-get($background-color, hover);
  }

  &:focus {
    $border-color: map-get($background-color, hover);

    padding: 12px 18px;

    border: 4px solid $border-color;
    outline: none;
    background-color: map-get($background-color, active);
  }

  &::placeholder {
    color: inherit;
  }
}
