@import "../../base/variables";

.page-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  box-sizing: border-box;
  padding: 39px 20px 20px;

  background-color: white;

  @media #{$from-tablet} {
    flex-direction: row;
    justify-content: space-between;

    padding: 36px 60px;
  }

  @media #{$from-desktop} {
    padding: 36px 120px;
  }
}

// Элементы
@import "__created-by/page-footer__created-by";
@import "__hashtag/page-footer__hashtag";
@import "__social/page-footer__social";
