@import "../../../base/variables";

.form__item_introduce {
  @media #{$from-tablet} {
    width: calc(100% / 2);
    padding-top: 59px;
    padding-left: 60px;
  }

  &:not(:only-child):not(:last-child) {
    @media #{$from-tablet} {
      margin-bottom: 68px;
    }

    @media #{$from-desktop} {
      margin-bottom: 66px;
    }
  }
}
