@import "../../../base/variables";

.form__item_introduce {
  &:not(:only-child):not(:last-child) {
    @media #{$from-tablet} {
      margin-bottom: 68px;
    }

    @media #{$from-desktop} {
      margin-bottom: 66px;
    }
  }
}

.form__item_introduce.width_1\/2 {
  @media #{$from-tablet} {
    padding-left: 60px;
  }
}
