@import "../../../base/variables";

.form__item {
  width: 100%;

  &:not(:last-child) {
    @media #{$to-tablet} {
      $background-color: $alto;

      border-top: 1px solid $background-color;
    }

    @media #{$from-tablet} {
      margin-bottom: 58px;
    }
  }

  @media #{$to-tablet} {
    padding-top: 19px;
    padding-bottom: 26px;
  }
}

.form__item.form__item_separator {
  @media #{$from-tablet} {
    position: relative;

    &::after {
      $border-color: $alto;

      position: absolute;
      right: 0;
      bottom: 0;

      width: 0;
      height: 100%;

      content: "";

      border-right: 1px solid $border-color;

      @media #{$from-tablet} {
        height: calc(100% - 59px);
      }
    }
  }
}

// Boolean
@import "_form__item_attractions";
@import "form__item_contact";
@import "form__item_footer";
@import "form__item_impression";
@import "form__item_introduce";
