@import "../../../base/variables";

.input_type_text.input_iconed .input__input {
  $color: (default: inherit, invalid: red);
  $background-color: (default: $concrete, hover: $mercury, active: transparent, invalid: rgba(red, 0.1));

  font: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  box-sizing: border-box;
  width: 100%;
  height: 58px;
  padding: 0 80px 0 22px;

  border: none;
  background-color: map-get($background-color, default);

  &:hover {
    background-color: map-get($background-color, hover);
  }

  &:focus {
    $border-color: map-get($background-color, hover);

    padding: 0 76px 0 18px;

    border: 4px solid $border-color;
    outline: none;
    background-color: map-get($background-color, active);

    &:invalid {
      border-color: red;
    }
  }

  &:invalid {
    color: map-get($color, invalid);
    background-color: map-get($background-color, invalid);
  }

  &::placeholder {
    opacity: 1;
    color: inherit;
  }
}
