.text {
  display: block;

  max-width: 100%;
}

// Boolean
@import "text_advantage";
@import "text_annotation";
@import "text_cta";
@import "text_feature";
@import "text_footer-hashtag";
@import "text_section";
