@import "../../../base/variables";

.navigation_header .navigation__list-item {
  @media #{$from-tablet} {
    display: inline-flex;

    margin-right: 50px;
    margin-bottom: 25px;

    vertical-align: top;

    &:nth-child(1) {
      margin-right: 75px;
    }

    &:nth-child(2) {
      margin-right: 210px;
    }
  }

  @media #{$from-desktop} {
    margin-right: 162px;

    &:nth-child(1) {
      margin-right: 162px;
    }

    &:nth-child(2) {
      margin-right: 382px;
    }

    &:nth-child(3) {
      margin-right: 137px;
    }
  }
}

.page_ie11 .navigation__list-item:nth-child(1) {
  @media #{$from-tablet} {
    margin-right: 73px;
  }

  @media #{$from-desktop} {
    margin-right: 160px;
  }
}
