@import "../../../base/variables";

.player__button {
  &:not(:only-child):not(:last-child) {
    margin-right: 26px;

    &:first-child {
      @media #{$to-tablet} {
        margin-right: auto;
      }

      @media #{$from-tablet} {
        margin-right: 42px;
      }
    }
  }
}
