@import "../../base/variables";

.collar_top {
  @media #{$to-tablet} {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      height: 26px;

      content: "";

      background-image: url("../img/sprite.svg#bg-triangle");
      background-repeat: no-repeat;
      background-position: center -49px;
      background-size: 100% 94px;
    }
  }
}
