@import "../../base/variables";

.field {
  display: flex;
  flex-direction: column;

  &_row {
    align-items: center;
    flex-direction: row;
  }
}

.fieldset_attractions .field {
  @media #{$from-tablet} and #{$to-desktop} {
    width: 200px;
  }
}

// Элементы
@import "__item/field__item";
