@import "../../../base/variables";

.input_iconed .input__icon {
  $background-color: $mercury;

  position: absolute;
  top: 0;
  right: 0;

  box-sizing: border-box;
  width: 58px;
  height: 58px;

  pointer-events: none;

  border: 4px solid transparent;
  background-color: $background-color;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.input_iconed .input__input:invalid + .input__icon {
  background-color: rgba(red, 0.1);
}

// Boolean
@import "input__icon_mail";
@import "input__icon_phone";
