@import "../../../base/variables";

.feature__inner {
  margin-left: 50px;

  @media #{$from-tablet} {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-left: 0;
    padding-top: 157px;
  }
}
