.label {
  font-weight: normal;

  display: inline-flex;
  flex-shrink: 0;

  user-select: none;
  vertical-align: top;
  text-transform: uppercase;

  &::after {
    content: ":";
  }
}

.input__input:not(:disabled) ~ .label {
  cursor: pointer;
}

// Boolean
@import "label_required";
@import "label_strong";
