@import "../../base/variables";

.page {
  $min-width: $mobile-width;

  font-family: "PT Sans", "Arial", sans-serif;

  min-width: $min-width;
  height: 100%;
}

// Элементы
@import "__body/page__body";
@import "__footer/page__footer";
