@import "../../base/variables";

.cta {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 30px 20px 49px;

  @media #{$from-tablet} {
    padding: 51px 60px 58px;
  }

  @media #{$from-desktop} {
    padding: 50px 120px 66px;
  }
}

// Элементы
@import "__description/cta__description";
@import "__heading/cta__heading";
