// Шрифты
@import "base/fonts";

// Помощники
@import "base/line-breaker";
@import "base/visually-hidden";

// Текстовые блоки
@import "blocks/heading/heading";
@import "blocks/label/label";
@import "blocks/link/link";
@import "blocks/text/text";

// Мелкие самодостаточные блоки
@import "blocks/button/button";
@import "blocks/icon/icon";
@import "blocks/advantage/advantage";
@import "blocks/feature/feature";

// Собирательные блоки
@import "blocks/created-by/created-by";
@import "blocks/fieldset/fieldset";
@import "blocks/input/input";
@import "blocks/logo-link/logo-link";
@import "blocks/navigation/navigation";
@import "blocks/social/social";

// Контекстные семантические блоки
@import "blocks/intro/intro";
@import "blocks/cta/cta";
@import "blocks/map/map";

// Структурные блоки
@import "blocks/page/page";
@import "blocks/page-header/page-header";
@import "blocks/page-main/page-main";
@import "blocks/page-footer/page-footer";
@import "blocks/grid/grid";
@import "blocks/backdrop/backdrop";
