.button_theme_x-ray {
  width: auto;
  height: auto;
  margin: -5px;
  padding: 5px;

  color: black;
  background-color: transparent;

  &:hover,
  &:active {
    background-color: transparent;
  }
}
