@import "../../../base/variables";

.button_theme_radio {
  $background-color: $concrete;

  width: 46px;
  height: 46px;
  padding: 0;
  border-radius: 50%;
  background-color: $background-color;

  &:hover,
  &:active {
    background-color: $background-color;
  }
}

.input__input:not(:disabled) + .button_theme_radio {
  &:hover {
    $background-color: $mercury;

    background-color: $background-color;
  }

  &:active {
    $background-color: $alto;

    background-color: $background-color;
  }
}

.input__input:focus + .button_theme_radio {
  outline: -webkit-focus-ring-color auto 2px;
}

.input__input:disabled + .button_theme_radio {
  opacity: 0.3;
  cursor: auto;
}
