@import "../../base/variables";

.intro {
  $background-color: $sail;

  position: relative;

  background-color: $background-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media #{$from-tablet} {
    min-height: 518px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media #{$from-tablet} and #{$retina} {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }

  @media #{$from-desktop} {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  @media #{$from-desktop} and #{$retina} {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}

// Boolean
@import "intro_big";
@import "intro_small";

// Элементы
@import "__tagline/intro__tagline";
