@import "../../base/variables";

.intro {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-top: 389px solid transparent;
  background-color: white;

  @media #{$from-tablet} {
    border-top-width: 518px;
  }
}

// Элементы
@import "__heading/intro__heading";
@import "__description/intro__description";
@import "__inner/intro__inner";
@import "__tagline/intro__tagline";
