@import "../../base/variables";

.intro_small {
  min-height: 158px;

  background-position: 50% 100%;

  @media #{$from-tablet} {
    min-height: 290px;
  }

  @media #{$from-desktop} {
    min-height: 301px;
  }
}
