@import "../../../base/variables";

.button:active .button__icon {
  $transition: $base-transition;

  transition: opacity $transition;

  opacity: 0.3;
}

.button:disabled .button__icon {
  opacity: 1;
}

a.button:not([href]) {
  &:hover,
  &:active {
    .button__icon {
      opacity: 1;
    }
  }
}
