.heading {
  font-weight: bold;

  display: block;

  color: black;
}

// Boolean
@import "heading_advatage";
@import "heading_cta";
@import "heading_feature";
@import "heading_fieldset";
@import "heading_modal";
@import "heading_section";
