@import "../../base/variables";

.heading_fieldset {
  font-size: 18px;
  line-height: 1.45;

  text-align: center;
  text-transform: uppercase;

  &::after {
    content: ":";
  }

  @media #{$from-tablet} {
    font-size: 21px;
    line-height: 1.3;
  }
}

.fieldset_border .heading_fieldset {
  @media #{$from-tablet} {
    box-sizing: content-box;
    max-width: 278px;
    padding-right: 58px;
    padding-left: 58px;
  }
}


.form__item_introduce,
.form__item_impression {
  .heading_fieldset {
    @media #{$from-tablet} {
      text-align: left;
    }

    &.heading_no-wrap {
      @media #{$from-tablet} and #{$to-desktop} {
        white-space: nowrap;
      }
    }
  }
}

.page_ie11 .fieldset_border .heading_fieldset {
  @media #{$from-tablet} {
    max-width: 287px;
  }
}
