@import "../../base/variables";

.heading_intro {
  font-size: 18px;
  line-height: 1.3;

  max-width: 255px;

  text-align: center;
  text-transform: uppercase;

  @media #{$from-tablet} {
    font-size: 21px;

    max-width: 490px;
  }
}
