@import "../../base/variables";

.logo-link {
  $transition: $base-transition;

  font-size: 0;

  transition: opacity $transition;
}

// Boolean
@import "logo-link_htmlacademy";

// Элементы
@import "__image/logo-link__image";
