@import "../../../base/variables";

.advantage_special .advantage__inner {
  $background-color: $half-baked;
  $padding: 32px, 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  min-height: 191px;
  padding: nth($padding, 1) nth($padding, 2);

  background-color: $background-color;

  @media #{$from-tablet} {
    width: calc(100% / 3);
    min-height: 256px;
  }
}
