@import "../../../base/variables";

.button_theme_radio .button__tick {
  $background-color: $mine-shaft;
  $transition: $base-transition;

  width: 16px;
  height: 16px;
  background-color: $background-color;
  border-radius: 50%;

  transition: opacity $transition;
}

.input__input + .input__button .button__tick {
  opacity: 0;
}

.input__input:checked + .input__button .button__tick {
  opacity: 1;
}

.input__input:not(:disabled) + .input__button:active .button__tick {
  opacity: 0.3;
}
